/* .header {
  background-color: burlywood;
  width: 100vw;
  top: 0;
  margin: auto;
  align-self: flex-center;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
} */
