html{
    margin:0;
    padding:0;
}
/* container almost there but need to restructure */
.container{
    display:grid;
    grid-template-areas:
    "header header"
    "main main"
    "footer footer"
    "sidebar sidebar";
    grid-template-columns: 2fr 1fr
}

.header{
   grid-column:1/7;
   background-image:url(http://www.csszengarden.com/214/huntington.jpg);
   grid-row: 1/2;
   background-size:90%;
   grid-area: header;
   background-position: 0 0, 0 0, -5px -25px, 0 50%;
}

.title{
    font-size:30px;
    text-decoration-color: white;
    text-align:center;
    padding:20px 0px
}
.beauty{
    display:block;
    margin:0;
    font-style: italic;
    text-align: center;
    padding:0px  80px 80px;
}

.authors{

    background-color: #c0cac3 ;
    border-top:solid 1px #d9e3dc;
    font-style:italic;
    padding:10%;
    float:left;
    grid-area: sidebar

}
.design-name{
    display:block;
    margin-bottom: 0.25em;
    font-family: 'Julius Sans One', sans-serif;
    font-size :1.2em;
    font-style:normal;
    text-transform:uppercase;
}
.designer-name{
    color: #616857;
    font-size: 0.9em;
    font-style:normal;
}


.designs{
    grid-column: 1/3;
    opacity:0.5;
    text-align:center;
    background-color: darkblue;
    color:white;
    padding: 60px 0px 70px 0px;
    grid-area:subheader;
} 


.icons{
    display:flex;
    justify-content: center;
    height:100px;
    background-color: grey;
    grid-area:footer

}
.icons >div {
    padding:20px;

}

 .beef{
    grid-column:1/2 ;
    align-items: center;
    font-family: "Libre Baskerville", sans-serif;
    font-size: 70%;
    color: #325050;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    }


.par1{
    font-size: xx-large;
}

 /* fix the background image and blank space */
.par4, .par5{
    background-attachment: scroll, scroll, fixed;
     background-color: rgba(138,188,159,0.5);
     background-image: url(contours-opaque.png), url(gridlines-opaque.png), url(bamboo.png);
    background-repeat:repeat, repeat, no-repeat;
    background-size:auto, auto, cover;
    
}


/* wont seem to work the way I intended to */
@media (min-width: 1000px){
    .container{
        grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    }

}