html{
    margin:0;
    padding:0;
}
.container{
    display:grid;
    grid-template-areas:
    "header header"
    "subheader sidebar"
    "main sidebar"
    "footer footer";
    grid-template-columns: 2fr 1fr
}

.header{
   grid-column:1/7;
   background-image:url(http://www.csszengarden.com/214/huntington.jpg);
   grid-row: 1/2;
   background-size:90%;
   grid-area: header
}

.title{
    font-size:30px;
    text-decoration-color: white;
    text-align:center;
    padding:20px 0px
}
.beauty{
    display:block;
    margin:0;
    font-style: italic;
    text-align: center;
    padding:0px  80px 80px;
}

.authors{

    background-color: silver;
    text-align:center;
    grid-area: sidebar

}


.designs{
    grid-column: 1/3;
    text-align:center;
    background-color: darkblue;
    color:white;
    padding: 60px 0px 70px 0px;
    grid-area:subheader;
} 


.icons{
    display:flex;
    justify-content: center;
    height:100px;
    background-color: grey;
    grid-area:footer

}
.icons >div {
    padding:10px;

}

 .beef{
    grid-column:1/2 ;
    align-items: center;
    font-style: italic;
    }


.par1{
    font-size: xx-large;
}
.par4{
    background-color: lightgreen;
    padding:0;
}
.par5{
     background-color: lightgreen;
     padding:0;
}



@media (min-width: 1000px){
    .container{
        grid-template-areas: 
        "header header"
        "sidebar sidebar"
        "main subheader"
        "footer footer";
    }

}