h1 {
  border: 3px solid black;
  background-color: white;
  height: 500px;
  width: 500px;
  text-align: middle;
  margin-left: 250px;
  display: flex;
  justify-content: center;
}
.die {
  display: flex;
  margin-left: 550px;
}
.square {
  margin: 20px;
}
button {
  font-size: 50px;
  margin-left: 815px;
}
body {
  background-color: black;
}
